<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Miu</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div className="container">
        <div className="row">
            <form action="/post-crud" method="POST">
                <div className="form-row">
                <div className="col-12 mt-3">Create a new user</div>
                    <div className="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" className="form-control" id="email" placeholder="Enter your email" name="email">
                    </div>
                    <div className="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" className="form-control" placeholder="Enter your password" name="password">
                    </div>
                </div>
                <div className="form-row">
                    <div className="form-group col-md-6">
                        <label for="inputEmail4">First name</label>
                        <input type="text" className="form-control" id="email" placeholder="First name" name="firstName">
                    </div>
                    <div className="form-group col-md-6">
                        <label for="inputPassword4">Last name</label>
                        <input type="text" className="form-control" placeholder="Last name" name="lastName">
                    </div>
                </div>
                <div className="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" className="form-control" name="address" placeholder="1234 Main St">
                </div>
                <div className="form-row">
                  <div className="form-group col-md-6">
                    <label for="inputCity">Phone Number</label>
                    <input type="text" className="form-control" name="phonenumber">
                  </div>
                  <div className="form-group col-md-3">
                    <label for="inputState">Sex</label>
                    <select name="gender" className="form-control">
                      <option value="1">Male</option>
                      <option value="0">Female</option>
                    </select>
                  </div>
                  <div className="form-group col-md-3">
                    <label for="inputZip">Role</label>
                    <select name="roleId" className="form-control">
                        <option value="1">Admin</option>
                        <option value="2">Doctor</option>
                        <option value="3">Patient</option>
                      </select>
                  </div>
                </div>
                <button type="submit" className="btn btn-primary">Sign in</button>
              </form>
        </div>
    </div>
</body>
</html>